
<section id="login">

    <div class="header">{{ 'User login header'|t }}</div>

    {{ form }}

    <a class="remember-password" href="{{ path('visualnet_user.remind_password') }}">
        <span class="fas fa-unlock-alt"></span> {{ 'I forgot my password'|t }}
    </a>

</section>