{#
/**
 * @file visualnet_crm_event.html.twig
 * Default theme implementation to present Visualnet crm event data.
 *
 * This template is used when viewing Visualnet crm event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_visualnet_crm_event()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('visualnet_crm_event') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
